---
# - name: Launch 'apt update'
#   ansible.builtin.apt:
#     update_cache: yes
#   become: yes

# - name: Launch 'apt upgrade'
#   ansible.builtin.apt:
#     upgrade: yes
#   become: yes

- name: Install 'ubuntu-advantage-tools' package
  ansible.builtin.apt:
    name: ubuntu-advantage-tools
    state: latest
  become: yes
